body div {
  margin-left: 1em;
}
#signIn {
  background-color: khaki;
  padding: 1em;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1em;
  margin-left: 1em;
  width: 8em;
}
#signOut {
  background-color: khaki;
  padding: 1em;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1em;
  margin-left: 1em;
  width: 8em;
}
p {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  width: 95%;
}

li {
  display: inline-block;
  border-radius: 10px 10px 0px 0px;
  padding: 0.5em;
  background-color: khaki;
  font-size: 1.1em;
  margin-left: 0em;
  margin-bottom: 0em;
}
.selected {
  background-color: yellow;
}
.tabsPicture {
  /* position: absolute; */
  border-radius: 0px 10px 10px 10px;
  margin-top: 0em;
  height: 30em;
  width: 95%;
  /* margin-bottom: 30em; */
}
#characterContent {
  border: solid black 1px;
  border-radius: 20px;
  width: 40em;
  background-color: gray;
}

#characterContent li {
  margin-bottom: 8px;
  font-size: 1em;
  padding: 0.1em;
  width: 30em;
}
input {
  height: 1.7em;
  width: 6em;
  font-size: 1.1em;
  margin-left: 1.5em;
}
